html {
      background-color: rgb(255,239,213);
}

h1 {
    text-align: center;
    font: Lucida Console;
    font-size: 40px;
    color: rgb(139,69,19);
}

#chocochip {
      object-position: absolute;
      left: 150px;
      top: 300px;
}

#sugar {
      object-position: absolute;
      left: 150px;
      top: 500px;
}

#macaron {
      object-position: absolute;
      left: 150px;
      top: 700px;
}
