html {
      background-color: rgb(255,239,213);
}

h1 {
      color: rgb(139,69,19);
      background-color: rgb(222,184,135);
      font-size: 80px;
      text-align: center;
      position:fixed;
      padding-top: 40px;
      top:0;
      left:0;
      width:100%;
      margin: 0px;
      height: 160px;
      z-index: 1;

}

div {
      position: relative;
      background-color: rgb(252, 218, 175);
      padding: 25px;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;  
      height: 200px;
      width: 800px;
}

img {
      float: left;
      width: 200px;
      height: 200px;
}

ul {
      margin-top: 250px;
      list-style: none;
}

a {
      color: rgb(139,69,19);
      text-decoration: none;
      text-align: center;
      font-size: 30px;
}
