html {
      background-color: rgb(255,239,213);
}

h1 {
    text-align: center;
    font: Lucida Console;
    font-size: 50px;
    color: rgb(139,69,19);
    background-color: rgb(222,184,135);
    border: 0px, 0px, 0px, 0px;
}

.chocochip {
      object-position: absolute;
      left: 150px;
      top: 300px;
      width: 500px;
      height: 100px;
}

.sugar {
      object-position: absolute;
      left: 150px;
      top: 500px;
      width: 500px;
      height: 100px;
}

.macaron {
      object-position: absolute;
      left: 150px;
      top: 700px;
      width: 500px;
      height: 100px;
}
